<!DOCTYPE html>
<html lang="en" class="no-js">

<head>

    <meta charset="utf-8">
    <title>登录</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- CSS -->
    <link rel="stylesheet" href="../css/login.css">


</head>
<body>
<div style="width:728px;height:90px;margin:0 auto;">

</div>

<div class="page-container">
    <h1>登录</h1>
    <form>
        <input type="text" name="username" class="username" placeholder="用户名" value="15317026220" id="username">
        <input type="password" name="password" class="password" placeholder="密码" value="000000" id="password">
        <button type="submit" onclick="return login()">登录</button>
        <div class="error"><span>+</span></div>
    </form>
</div>
<div align="center" style="margin-top: 20px">欢迎使用威帮后台管理系统</div>
<script type="text/javascript" src="../lib/js/jquery.min.js"></script>
<script type="text/javascript" src="../lib/js/supersized.3.2.7.min.js"></script>
<script type="text/javascript" src="../js/login.js"></script>
<script type="text/javascript" src="../js/request.js"></script>


</body>

</html>

